.folder-tree-list__item {
  display: block;
}

.folder-tree-list__item span {
  width: calc(100% - 24px);
}

.folder-tree-list__item-link {
  padding: 4px 16px 4px 4px;
  text-decoration: none;
  color: var(--color-lucid-dark);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 8px;
}

.folder-tree-list__item-link:hover {
  background-color: var(--color-lucid-blue-darker);
}

.folder-tree-list__item-link.folder-tree-list__item-link--active {
  background-color: var(--color-grey-light);
}

.folder-tree-list__item-link.folder-tree-list__item-link--expandable::before {
  content: '▸';
  font-size: var(--font-size-l);
  margin-left: -20px;
  margin-right: -8px;
}

.folder-tree-list__item-link.folder-tree-list__item-link--expandable.folder-tree-list__item-link--open::before {
  content: '▾';
  font-size: var(--font-size-l);
  margin-left: -20px;
  margin-right: -8px;
}
